

section{
    min-height: 100vh;
    padding: 0.8rem 12%;
    width: 100%;
    position: relative;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.about img{
    width: 30vw;
    border-radius: 50%;
}

.info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1.5rem;
}

.info-box h3{
    font-size: 1.8rem;
    font-family: 500;
    opacity: 0.8;
}

.info-box h1{
    font-size: 4rem;
}

.info-box span{
    background: linear-gradient(to right, blue, red,yellow);
    background-clip: text;
    color: transparent;
    font-size: 2rem;
}

.btn-group{
    display: flex;
    gap: 3rem;
}

.btn{
    border-radius: 3rem;
    border: 2px solid black;
    padding: 0.5rem ;
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    background-color: black;
    color: white;
}

.socials i{
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;

}

.socials i:hover{
    transition: scale(1.1);
}