.input-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}

.input-box input{
    position: relative;
    border-radius: 2rem;
    border: 2px solid black;
    padding: 1rem 8rem;
    font-size: 2rem;
}

.input{
    position: relative;
}

.input i{
    position: absolute;
    font-size: 4rem;
    top: 50%;
    left: 10px;
    transform: translate(50%,50%);
}