.footer{
    bottom: 0;
    left: 0;
    height: 15rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
   
    
    
}

footer ul{
    display: flex;
    align-items: center;
    gap: 3rem;
   
}

footer ul li a{
    color: rgb(197, 178, 178);
    font-size: 600;
}

.copyright{
    font-size: 300;
    color: white;
    margin-top: 2rem;
}